body{
    background-image: linear-gradient(to right, rgba(0,0,255,0.8), rgba(0,0,190,0.3));
}
input{
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.center-column{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px rgba(0,0,0,0.7);
}

.item-row{
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #000;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.7);
}

.item-row:hover{
    background-color: rgba(250,235,215,0.7);
}

.btn-submit{
    background-color: rgba(200,200,200,0.5);
    color: #444444;
    border: solid 2px rgba(200,200,200,1);
    border-radius: 10px;
    margin: 15px auto;
}

.btn-submit:hover{
    background-color: rgba(200,200,200,0.8);
    cursor: pointer;
}

.btn-danger{
    background-color: rgb(204,204,0);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-danger:hover{
    background-color: rgba(204,204,0,0.5);
}
.btn-info{
    background-color: rgb(10,191,191);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-info:hover{
    background-color: rgba(10,191,191,0.5);
}