<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/tasks/css/list.css">
</head>
<body>
<div class="center-column">
    <p style="font-size: 20px; text-align: center; font-family: Arial">Are you sure you want to delete this "{{task}}"</p>
    <a class="btn-danger" href="{% url 'list'%}">Cancel</a>
    <form method="post" action="">
        {% csrf_token %}
        <input class="btn-submit" type="submit" name="Confirm" value="Delete">
    </form>
</div>
</body>
</html>