<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>To do</title>
    <link rel="stylesheet" href="../../static/tasks/css/list.css">
</head>
<body>
    <div class="center-column">
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <br>
            <input class="btn-submit" type="submit" name="Create Task" value="Add">
        </form>
        {% for task in tasks %}
        <div class="item-row">
            <a class="btn-info" href="{% url 'update_task' task.id %}">Update</a>
            <a class="btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
            {% if task.complete == False %}
            <span>{{task}}</span>
            {% else %}
            <strike>{{task}}</strike>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>