<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/tasks/css/list.css">
</head>
<body>
<div class="center-column">
    <h1 style="text-align: center">Update Task</h1>
    <form style="font-size: 21px" method="POST" action="">
        {% csrf_token %}
        {{form}}
        <input class="btn-submit" type="submit" name="Update Task" value="Update">
    </form>
</div>
</body>
</html>